.hero {
    width: 100%;
    min-height: 100vh;
    background:url('../../assets/hero.png');
    background-size: cover;
    background-position: top;
    color: #fff;
    display: flex;
    align-items: center;
    padding-bottom: 17%;
    
}
.hero-text {
    text-align: left;
    max-width: 400px;
    position: relative;
    left: 100px; 
    top: 130px;
}
.hero-text h1 {
    font-size: 72px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Brown';
}
.btn.orange img {
    margin-left: 10px;
    width: 5px;
}
.btn.orange {
    background: #EF6D1D;
    color: #FFFFFF; 
    padding: 15px 21px!important;
    font-size: 14px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}
.btn .dark_arrow {
    width: 20px!important;
    display: none;
}
.btn:hover {
    color: black; 
    background: #FFFFFF;
    border: 1px solid  #EF6D1D;
}
.btn:hover .dark_arrow {
    display: block;
}
.btn:hover .white_arrow {
    display: none;
}
@media (max-width: 1000px) {
    .hero {
        padding-bottom: 15%;
    }
    .hero-text {
        text-align: left;
        max-width: 400px;
        position: relative;
        left: 100px; 
        top: 75px;

    }
    .hero-text h1 {
        font-size: 42px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Brown';
    }
    .btn.orange img {
        margin-left: 10px;
        width: 5px;
    }
    .btn.orange {
        background: #EF6D1D;
        color: #FFFFFF; 
        padding:13px 21px;
        font-size: 14px;
        border-radius: 30px;
        border: 0;
        cursor: pointer;
        outline: 0;
        display: inline-flex;
        align-items: center;
        margin-bottom: 0px;
        justify-content: center;
        margin-bottom: 85px;
        
    }
}
@media (max-width: 500px) {
    .hero {
        padding-bottom: 30%;
    }
     .hero-text {
        text-align: left;
        max-width: 250px;
        position: relative;
        top: 54px;
    }
    .hero-text h1 {
        font-size: 32px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Brown';
    }
}