.brands {
    background: #F2F2F2;
    width: 100%;  
}
.brand-content {
    width: 80%;
    display: flex;
    gap: 7px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 20px;

}
.brand-content p {
    font-size: 48px;
    font-weight: 300;
    width: 30%;
}
.brand-logo {
    display: flex;
    width: 70%;
    align-items: center;
    gap: 20px;
    margin: auto;
    justify-content: center;
}
.first {
    width: 22.7%;
    height: 49px;
}
.second {
    width: 25.1%;
    height: 23px;
}
.third {
    width: 13.4%;
    height: 83px;
}
.fourth {
    width: 17%;
    height: 58px;
}
@media (max-width: 1050px) {
    .brand-content {
        width: 90%;
        gap: 0px;
    }
    .brand-content p {
        font-size: 33px; 
        width: 30%;
    }
    .first {
        width: 22.7%;
        height: auto;
    }
    .second {
        width: 25.1%;
        height: auto;
    }
    .third {
        width: 13.4%;
        height: auto;
    }
    .fourth {
        width: 17%;
        height: auto;
    }
}
@media (max-width: 500px) {
     .brand-content p {
        font-size: 25px; 
    }
}