.bottom-footer {
    background: rgba(11, 43, 45, 1);
}
.bottom-footer-content {
    color: rgba(255, 255, 255, 1);
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px; 
    font-size: 11px;
    justify-content: center;
}
.bottom-footer-content ul {
    display: flex;
    gap: 15px;
    text-decoration: underline;  
}
ul li {
    font-family: 'Brown';
}
ul li a {
  text-decoration: none;
}
ul li a:hover {
    color: black;
}
@media (max-width: 768px) {
    .bottom-footer-content {
        width: 93%;
        flex-direction: column;
        font-size: 12px;
    }
    .bottom-footer-content ul {
        gap: 20px;
        text-decoration: underline;  
    }
}