.about {
    margin: auto;
    display: flex;
    position: relative;
    width: 100%;
}
.about-left {
    position: relative;
    width: 45%; 
}
.about-right {
    background: #EF6D1D;
    line-height: 120%;
    width: 55%;
    padding: 50px 40px 34px 63px;
    position: relative;
    align-self: flex-start;
    bottom: 25px;
    right: 20px;
    z-index: 1;
}
.about-left img {
    width: 412px;
    height: auto;
    position: relative;
    left: 0px;
    z-index: 2;
}
.play_icon {
    width: 70px!important;
    position: absolute!important;
    top: 50%;
    left: 50%!important;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.about h4 {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Brown-Medium';
    line-height: 94%;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.about p {
    color: #FFFFFF;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'Brown'!important;
}

.about-btn{
    padding-top: 20px;
    color: #FFFFFF; 
    padding: 10px 25px;
    background: #EF6D1D;
    width: 42%;
    font-size: 14px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brown-Medium';
}
.about-btn span {
    align-items: center ;
}
.about-btn img {
    width: 5px;
    margin-left: 10px;
}
.about-btn .dark_arrow {
    width: 16px;
    display: none;
}
.about-btn:hover {
    color: black; 
    background: #FFFFFF;
    border: 2px solid black;
}
.about-btn:hover .dark_arrow {
    display: block;
}
.about-btn:hover .white_arrow {
    display: none;
}
@media (max-width: 1050px) {
    .about {
        flex-direction: column-reverse;
    }
    .about-right {
        width: 90%;
        margin: auto;
        padding: 50px 15px 30px 15px;
        position: relative;
        align-self: flex-start;
        top: 25px;
        right: 0px;
    }
    .about-left {
        position: relative;
        padding-top: 50px;
        margin:auto
    }
    .about-left img {
        width: 100%;
        height: auto;
        margin: auto;
        bottom: 0px;
        left: 0px;
    }
    .play_icon {
        width: 70px;
    }
    .about-btn {
        width: 29%;
    }
}
@media (max-width: 660px) {
    .about-btn {
        width: 55%;
    }
}
