.about {
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}
.about-left {
    position: relative;
    width: 45%; 
}
.about-right {
    background: #EF6D1D;
    line-height: 120%;
    width: 55%;
    padding: 50px 40px 50px 90px;
    position: relative;
    align-self: flex-start;
    bottom: 40px;
    right: 20px;
    z-index: 1;
}
.about-left img {
    width: 412px;
    height: auto;
    position: relative;
    left: 20px;
    z-index: 2;
    bottom: 5px;
}
.play_icon {
    width: 70px!important;
    position: absolute!important;
    top: 50%;
    left: 50%!important;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.about h4 {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Brown-Medium';
    line-height: 94%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.about p {
    color: #FFFFFF;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Brown'!important;
}

.btn {
    margin-top: 20px;
    color: #FFFFFF; 
    padding: 10px 25px;
    background: #EF6D1D;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brown-Medium';
}
.btn:hover {
    color: black; 
    background: #FFFFFF;
    border: 1px solid  #EF6D1D;
}
.btn img {
    width: 5px;
    margin-right: 10px;
}
.btn .dark_arrow {
    width: 20px;
}
@media (max-width: 1050px) {
    .about {
        flex-direction: column-reverse;
    }
    .about-right {
        width: 90%;
        margin: auto;
        padding: 50px 15px 30px 15px;
        position: relative;
        align-self: flex-start;
        top: 25px;
        right: 0px;
    }
    .about-left {
        position: relative;
        width: 70%;
        margin-top: 50px;
    }
    .about-left img {
        width: 100%;
        height: auto;
        margin: auto;
        bottom: 0px;
        left: 0px;
    }
    .play_icon {
        width: 70px;
    }
}