.main-footer {
    background: rgba(18, 50, 52, 1);
    width: 100%;
    padding-bottom: 15px;
}
.main-footer-col {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 30px;
    padding-top: 40px;
}
.col-one {
    width: 40%;
}
h4 {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    align-items: center;
    text-align: left;
}
.col-one p {
    color: rgba(255, 255, 255, 1);
    line-height: 1.5em;
    margin-top: 15px;
    font-size: 16px;
}
.col-two {
    width: 23%;
    font-size: 12px;
}
.contact-details {
    max-width: 70%;
}
.contact-details  p {
    color: gray;
    line-height: 1.5em; 
    font-size: 13px;
}
.contact-details .label {
    color: rgba(255, 255, 255, 1);
    font-family: 'Brown-Medium';
    margin-bottom: 6px;   
}
.contact-details .label:hover {
    color: gray;
}
.reg {
    color: rgba(255, 255, 255, 1);
    line-height: 1.5em;
    margin-top: 15px;
}
.col-three {
    color: rgba(189, 189, 189, 1);
    font-size: 14px;
    width: 28%;
}
ul li {
    list-style: none;
    line-height: 2em;
    font-family: 'Brown-Medium';
    cursor: pointer;
}
ul li:hover {
    color: #fff;
}
.col-four {
    width: 26%;
}
.social {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.social img {
    width: 30px;
    height: auto;
    object-fit: contain;
}
.social .icon_twitter  {
    width: 44px!important;
}
.social .icon_mix {
    width: 34px!important;
    height:auto;
 
}
@media (max-width: 786px) {
    .main-footer-col {
        width: 90%;
        flex-direction: column;
    }
    .col-one {
        width: 85%;
    }
    .col-two {
        width: 70%!important;
        font-size: 16px;
    }
    .contact-details {
        max-width: 75%;
    }
    .col-three {
        color: rgba(189, 189, 189, 1);
        font-size: 16px;
        width: 70%;
    }
    .col-four {
        width: 90%;
    }
    
}