.navbar {
    width: 100%;
    color: #fff;
    padding-top: 25px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 25px!important;
    padding-right: 3%;
    padding-left: 3%;
    margin: auto;
}
.logo {
    width: 208px;
    align-self: flex-start;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
    font-size: 14px;
    font-family: 'Brown-Medium';
}
nav ul li:hover {
    color: #000000;
}
.btn.orange {
    background: #EF6D1D;
    color: #FFFFFF; 
    padding: 7px 17px;
    font-size: 14px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brown-Medium';
} 
.btn.orange:hover {
    background: #ffffff;
    color: #000000;  
    border: 1px solid #EF6D1D;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 1050px) {
    .logo {
        width: 170px;
    }
    .navbar {
        position: absolute;
        display: flex;
        top: 45px;
        padding-top:10px;
        align-items: center;
        margin-top: 10px!important;
        justify-content: space-between;
        padding-right: 2%;
        padding-left: 2%;
    }
    .menu-toggle {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        cursor: pointer;
        right: 0;
        z-index: 999;
        align-items: center;
        background: white;
        color: black;
        padding: 20px;
        padding-top: 40px;
        width:  100vw;
    }
    .nav-links.show {
        display: flex;
    }
    .btn.orange {
        margin-bottom: 0px!important;
    }
    .icon {
        width: 70px;
        height: 30px;
        object-fit: contain;
    }
    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
    }
}
@media (max-width: 500px) {
    .logo {
        width: 130px;
    }
    .navbar {
        position: absolute;
        display: flex;
        top: 56px;
        padding-top: 10px;
        align-items: center;
        margin-top: 20px;
        justify-content: space-between;
    }
    .icon {
        width: 50px;
        height: 25px;
        object-fit: contain;
        
    }
}
