@font-face {
    font-family: 'Brown';
    src: url('../src/assets/fonts/BrownLight\ Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brown';
}
body {
    background: #f5f5f5;
}
a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container {
    padding-left: 5%;
    padding-right: 5%;
}
.btn {
    color: #FFFFFF; 
    padding:7px 17px;
    background: #EF6D1D;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.green {
    background: #123234;
    color: #FFFFFF; 
    padding: 7px 16px;
    font-size: 14px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}