@font-face {
    font-family: 'Brown';
    src: url('../src/assets/fonts/BrownLight\ Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Brown-Bold';
    src: url('../src/assets/fonts/Brown\ Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Brown-Medium';
    src: url('../src/assets/fonts/BrownMedium\ Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brown';
}
body {
    background: #FFFFFF;
}
a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container {
    padding-left: 10%;
    padding-right: 10%;
}
@media (max-width: 1050px) {
    .container {
        padding-left: 5%!important;
        padding-right: 5%!important;
    }
}
.btn {
    color: #FFFFFF; 
    padding:7px 17px;
    background: #EF6D1D;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.green {
    background: #123234;
    color: #FFFFFF; 
    padding: 8px 17px;
    font-size: 15px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brown-Medium';
}
.btn.green:hover {
    background: #ffffff;
    color: #000000;  
    border: 2px solid #123234;
}