.top-footer {
    width: 100%;
    background: #123234;
}
.top-footer-content {
    width: 80%;
    color: #FFFFFF;
    margin: auto;
}
.top-footer-content p {
    font-size: 36px;
    padding-top: 30px;
    font-family: 'Brown';
    padding-bottom: 20px;
}
.newsletter-form {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}
.newsletter-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.newsletter-row p {
    font-family: 'Brown';
    font-size: 18px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
    width: 90%;
}
.custom-dropdown {
  position: relative;
}
.dropdown-trigger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}
.dropdown-arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease;
  position: relative;
  bottom: 10px;
  rotate: 90deg;
}
.dropdown-arrow.open {
  transform: rotate(180deg);
}
.dropdown-options {
  position: absolute;
  top: 100%;
  right: 0;
  font-family: 'Brown';
  color: #123234;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 200px;
  z-index: 1000;
}
.dropdown-option {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #123234;
}
.dropdown-option:last-child {
  border-bottom: none;
}
.dropdown-option:hover {
  background-color: #f5f5f5;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.form-group label {
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Brown';
    font-size: 18px;
}

.form-group input {
  padding: 5px;
  border: none;
  color: #FFFFFF;
  font-family: 'Brown';
  border-bottom: 2px solid #FFFFFF!important;
  background-color: #123234;
  font-size: 16px;
}

.submit-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #123234;
    padding: 12px 20px;
    color: white;
    border: none;
    cursor: pointer;
}
.submit-btn span {
    display: none;
}
.submit-btn img {
    width: 14px;
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 1000px) {
    .top-footer-content {
        width: 90%;
    }
    .newsletter-row p {
        font-size: 15px;
    }
    .dropdown-arrow {
        width: 12px;
        height: 12px;
        bottom: 12px;
    }
    .form-group {
        width: 20%;
    }
    .form-group label {
        font-size: 14px;
    }

    .form-group input {
        font-size: 13px;
    }
    .submit-btn img {
        width: 9px;
    }
    .dropdown-options {
        position: absolute;
        top: 100%;
        right: 0;
        font-size: 12px;
        border-radius: 4px;
        min-width: 150px;
        
    }
    .dropdown-option {
        padding: 10px 15px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
    }
}
@media (max-width: 600px) {
    .newsletter-form {
        flex-direction: column!important;
        align-items: flex-start;
    }
    .newsletter-row p {
        bottom: 0px;
    }
    .dropdown-arrow {
        top: 9px;
    }
    .form-group {
        display: flex;
        flex-direction: row;
        width: 70%;
    }
    .form-group input {
        position: relative;
        bottom: 13px;
        left: 20px;
    }
    .dropdown-options {
        position: absolute;
        top: 150%;
        right: 0;
        font-size: 12px;
        border-radius: 4px;
        min-width: 150px;
    }
    .submit-btn {
        position: relative;
        right: 0px;
        border: 2px solid;
        color: #eee;
        border-radius: 30px;
        margin-bottom: 15px;
    }
    .submit-btn:hover {
        background: #eee;
        color: black;
    }
    .submit-btn span {
        display: block;
        font-size: 14px;
    }
}















/* .top-footer-content ul {
    display: flex;
    gap: 30px;
    padding-top: 25px;
    padding-bottom: 25px;    
}
.top-footer-content ul li {
    font-size: 18px;
    width: 20%;
    list-style: none;
    font-weight: 400;
    padding-bottom: 15px;
    border-bottom: 2px solid #FFFFFF;
    font-family: 'Brown';
}
.top-footer-content ul img {
    width: 15px;
    margin-left: 10px;
}
@media (max-width: 1050px) {
    .top-footer-content {
        width: 95%;    
    }
    .top-footer-content ul li {
        font-size: 13px;
        width: 24%;
    }
    .top-footer-content ul img {
        width: 10px;
        margin-left: px;
    }
} */